= form_for @author do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :available
    = f.check_box :available
  .field
    = f.label :section
    = f.text_field :section
  .field
    = f.label :shelf
    = f.number_field :shelf
  .field
    = f.label :order
    = f.number_field :order
  .actions
    = f.submit 'Save'
