- content_for :title do
  Autores
%h1 Listing authors

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Year
      %th Available
      %th Section
      %th Shelf
      %th Order
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= author.email
        %td= author.year
        %td= author.available
        %td= author.section
        %td= author.shelf
        %td= author.order
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Author', new_author_path
- content_for :pre_search do
  %p Tip: Search by Author's name