!!!
%html
  %head
    %title
      = yield(:title)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %ul
      %li= link_to 'Authors', authors_path
      %li= link_to 'Books', books_path
      %li= link_to 'Home', web_home_path
      %li= link_to 'About us', web_about_us_path
      %li= link_to 'root', root_path

    = yield(:pre_search)
    %p
      = form_tag web_search_path do
        = text_field_tag :text_to_search
        = submit_tag 'Search'
    = yield
    %p
      -#muestra el locale detectado y la hora con el formato I18n
      locale: #{I18n.locale}
      = I18n.localize Time.current, format: :long
      %hr
      = I18n.l Time.current, format: :short
    #strong Mostrar consola para Debuggear:
    -#Solo mostrara la consola en el ambiente de development:
    - console if Rails.env.development?

